
html {
        font: 15px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}

body {
        background-color: #f4f4f4;
}

pre {
        /* display: block; */
        padding: 1em;
        border-radius: 10px;
        white-space:pre-wrap;
}

#wrapper {
        max-width: calc(76em + 1px);
        margin-top: 2em;
        margin-left: 4em;
        /* padding: 0; */
        /* margin: 0 auto; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
}
 
#navbar-header {
        flex: 0 1 16em;
}

#custom-content {
        flex: 1 1;
}

/*
#navbar {
}
*/

#navbar a:link, #navbar a:visited {
    color: blue;
}

img {
  max-width: 100%;
  height: auto;
}

