
html {
        font: 15px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
        background-color: #fcfcfc;
}

pre {
        padding: 1em;
        border-radius: 10px;
        white-space: pre-wrap;
        /*white-space: pre; */
        /*overflow-x: auto; */

}

#wrapper {
        max-width: calc(76em + 1px);
        margin-top: 2em;
        margin-left: 4em;
        margin: auto;
}
 
#navbar-header {
}

#custom-content {
}

#navbar {
        line-height: 2em;
}

#navbar a:link, #navbar a:visited {
    color: blue;
}

img {
  max-width: 100%;
  height: auto;
}

