{% macro meta(page) %}
    {{ page.date | date(format="%F") }}
{% endmacro meta %}

{% macro page_in_list(page) %}
    <article itemscope itemtype="http://schema.org/CreativeWork">
        <header>
            <h2 itemprop="name">
                <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
            </h2>
            <span>{{ self::meta(page=page) }}</span>
        </header>
        {% if page.summary %}
            <div itemprop="summary">
                {{ page.summary | safe }}
                <nav><a itemprop="url" href="{{ page.permalink | safe }}">Read More&nbsp;&raquo;</a></nav>
            </div>
        {% endif %}
    </article>
{% endmacro page_in_list %}


{% macro mailchimp() %}
<!-- Begin Mailchimp Signup Form -->
<form action="https://freedomlayer.us16.list-manage.com/subscribe/post?u=c1c5e392b1bdfe989feaff76f&amp;id=b90669798d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="mailing-list@email.com">
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c1c5e392b1bdfe989feaff76f_b90669798d" tabindex="-1" value=""></div>
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
</form>
<!--End mc_embed_signup-->
{% endmacro mailchimp %}
